@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quadrant View";
}

<h1>Quadrant View</h1>
<br />
<br />
<div class="row">
    <div class="col-sm-12" style="border: 1px solid black">
        <h2 class="text-center">Stephen Covey's Time Management Matrix</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" style="border: 1px solid black">
        &nbsp;
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <h4 class="text-center">Urgent</h4>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <h4 class="text-center">Not Urgent</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" style="border: 1px solid black">
        <h4 class="text-center">Important</h4>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <table class="table">
            <thead>
                <tr>
                    <td>Task Name</td>
                    <td>Category</td>
                    <td>Due Date</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    if (record.Quadrant == 1 && record.Completed == false)
                    {
                        <tr>
                            <td>@record.TaskName</td>
                            <td>@record.Category.CategoryName</td>
                            <td>@record.DueDate</td>
                            <!-- THESE BELOW NEED THE ROUTE ID THING TO PASS THROUGH THE PK-->
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@record.TaskID">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@record.TaskID">Delete</a></td>
                            <td><a asp-controller="Home" asp-action="Test" asp-route-id="@record.TaskID">Mark Complete</a></td>
                        </tr>


                    }

                }

            </tbody>
        </table>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <table class="table">
            <thead>
                <tr>
                    <td>Task Name</td>
                    <td>Category</td>
                    <td>Due Date</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    if (record.Quadrant == 2 && record.Completed == false)
                    {
                        <tr>
                            <td>@record.TaskName</td>
                            <td>@record.Category.CategoryName</td>
                            <td>@record.DueDate</td>
                            <!-- THESE BELOW NEED THE ROUTE ID THING TO PASS THROUGH THE PK-->
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@record.TaskID">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@record.TaskID">Delete</a></td>
                            <td><a asp-controller="Home" asp-action="Test" asp-route-id="@record.TaskID">Mark Complete</a></td>
                        </tr>


                    }

                }

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" style="border: 1px solid black">
        <h4 class="text-center">Not Important</h4>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <table class="table">
        
            <thead>
                <tr>
                    <td>Task Name</td>
                    <td>Category</td>
                    <td>Due Date</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    if (record.Quadrant == 3 && record.Completed == false)
                    {
                        <tr>
                            <td>@record.TaskName</td>
                            <td>@record.Category.CategoryName</td>
                            <td>@record.DueDate</td>
                            <!-- THESE BELOW NEED THE ROUTE ID THING TO PASS THROUGH THE PK-->
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@record.TaskID">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@record.TaskID">Delete</a></td>
                            <td><a asp-controller="Home" asp-action="Test" asp-route-id="@record.TaskID">Mark Complete</a></td>
                        </tr>


                    }

                }

            </tbody>
        </table>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <table class="table">
            <thead>
                <tr>
                    <td>Task Name</td>
                    <td>Category</td>
                    <td>Due Date</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    if (record.Quadrant == 4 && record.Completed == false)
                    {
                        <tr>
                            <td>@record.TaskName</td>
                            <td>@record.Category.CategoryName</td>
                            <td>@record.DueDate</td>
                            <!-- THESE BELOW NEED THE ROUTE ID THING TO PASS THROUGH THE PK-->
                            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@record.TaskID">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@record.TaskID">Delete</a></td>
                            <td><a asp-controller="Home" asp-action="Test" asp-route-id="@record.TaskID">Mark Complete</a></td>
                        </tr>


                    }

                }
            </tbody>
        </table>
    </div>
</div>

